
body {
    background-color: salmon;
}

header {
    background-color: cadetblue;
    height: 15vh;
    display: flex;
    flex-direction: wrap;
}

main {
    background-color: cadetblue;
    height: 75vh;
    padding: 2%;
    flex-direction: row;
}

#question-holder {
    height: 80%;
    margin: 2%;
    padding: 1%;
    background-color:lavender;
}

#answer-holder {
    background-color: white;
    display: none;
    flex-direction: column;
    height: 0vh;
}

#form , #submit {
    display: none;
}

#quiz-button{
    display: none;
}

#high-scores {
    height: 80%;
    margin: 2%;
    padding: 1%;
    background-color:rgb(169, 255, 204);
    display: none;
    flex-direction: row;
    overflow-y: auto;
}

#initials, #score {
    padding: 1%
}

section h5 {
    background-color: none;
}